.App {
	padding-bottom: 40px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
	color: white !important;
}

.card-header img {
	width: 100%;
}

.card-body {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.card-body button {
	margin-right: 5px;
}
